<div class="w-screen overflow-hidden">
  <app-banner-carousel class="w-full block"></app-banner-carousel>
</div>

<!-- Sección de Categorías Destacadas -->
<app-categorias-destacadas></app-categorias-destacadas>

<!-- Sección de Productos Destacados -->
<app-productos-destacados></app-productos-destacados>

<!-- Sección de Productos en Oferta -->
<app-productos-oferta></app-productos-oferta>

<!-- Sección de Productos Nuevos -->
<app-productos-nuevos></app-productos-nuevos>

<!-- Sección de Testimonios -->
<!-- <app-testimonios></app-testimonios> -->
